.bestSelling {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 100px;

    .header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .titleSection {
            display: flex;
            align-items: center;
            gap: 50px;

            .title {
                display: flex;
                flex-direction: column;
                gap: 10px;


                .subTitle {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .pointer {
                        width: 20px;
                        height: 40px;
                        background-color: orange;
                        border-radius: 3px;
                    }
                    
                    span {
                        color: orange;
                        font-size: 14px;
                    }
                }

                .mainTitle {

                    h4 {
                        font-size: 30px;
                        font-weight: 600;
                    }
                }
            }
        }

        .viewAllBtn {
            display: flex;
            align-items: center;
            
            button {
                border: none;
                background-color: orange;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .main {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;

        .productCard {
            flex-basis: 20%;
        }
    }
}