.home {

    .container {

        .menuAndSlider {
            display: flex;

            .categoriesMenu {
                padding: 20px 20px 20px 80px;
                border-right: 1px solid #555;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 16px;
                        cursor: pointer;
                        border-radius: 5px;
                        padding: 5px;


                        &:hover {
                            background-color: #9797976f;
                        }
                    }
                }
            }
        }
    }
}