.home {

    .container {

        .menuAndSlider {
            display: flex;
            height: 80vh;

            .categoriesMenu {
                padding: 20px 20px 20px 80px;
                border-right: 1px solid #555;
                flex: 1;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 16px;
                        cursor: pointer;
                        border-radius: 5px;
                        padding: 5px;


                        &:hover {
                            background-color: #9797976f;
                        }
                    }
                }
            }
        }

        hr {
            border: .5px solid #000;
            margin: 0 100px;
            opacity: .2;
        }

        .advBanner {
            background-color: #000;
            color: #fff;
            display: flex;
            margin: 50px 100px;
            border-radius: 5px;
            

            .left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                gap: 10px;
                flex: 1;
                padding: 10px 10px 10px 50px;

                .subTitle {
                    color: #0f4;
                }

                .title {
                    font-size: 48px;
                }

                .timer {

                    .twoPoints {
                        display: none;
                    }

                    .days , .hours , .minutes , .seconds {
                        background-color: #eee;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        color: #000;
                        flex-direction: column-reverse;

                        span {
                            font-size: 14px;
                        }

                        .number {
                            font-size: 20px;
                            
                        }
                    }
                }

                button {
                    border: none;
                    background-color: #0f4;
                    padding: 15px 30px;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }

            .right {
                flex: 1;
                display: flex;
                width: 600px;
                height: 420px;
                padding: 45px 16px;
                justify-content: center;
                align-items: center;

                .imgContainer {
                    position: relative;
                    
                    img {
                        width: 580px;
                        height: 350px;
                        object-fit: cover;
                        transform: scaleX(-1);
                        opacity: 1;
                    }
                    
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 504px;
                        background: #D9D9D9;
                        opacity: 0.3;
                        filter: blur(100px);
                        z-index: 0;
                    }
                }
            }
        }
    }
}