.navbar {
    width: 100%;

    .firstNav {
        display: flex;
        align-items: center;
        background-color: black;
        color: white;
        padding: 10px 0;

        .left {
            flex: 2;
        }

        .center {
            flex: 4;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .shopNow {
                text-decoration: underline;
            }
        }

        .right {
            flex: 2;
            display: flex;
            justify-content: center;
            
            .language {
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: 3px;
                width: fit-content;
                position: relative;

                .languageDropdown {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background-color: #000000c7;
                    color: #f2f2f2;
                    z-index: 10;
                    padding: 10px;
                    border-radius: 5px;

                    ul {
                        list-style: none;

                        li {
                            padding: 5px;
                            cursor: pointer;
                            border-radius: 5px;

                            &:hover {
                                background-color: #999;
                            }
                        }
                    }
                }
            }            
        }
    }

    .secondNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #eee;
        padding: 0px 50px;
        height: 70px;
        box-sizing: border-box;

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 50px;

            .logo {
                font-size: 15px;
            }

            .menu {
                display: flex;

                .menuList {
                    display: flex;
                    gap: 20px;
                    list-style: none;

                    .listItem {
                        font-size: 18px;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 15px;
            

            .searchInput {
                border-radius: 5px;
                background-color: #f2f2f2;
                display: flex;
                align-items: center;
                gap: 5px;

                input {
                    border: none;
                    background-color: transparent;
                    padding: 5px;
                    outline: none;
                }

                svg {
                    cursor: pointer;
                    padding: 5px;
                }
            }

            .wishListIcon {
                position: relative;

                span {
                    position: absolute;
                    top: -2px;
                    right: -4px;
                    background-color: orange;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .cartIcon {
                position: relative;

                span {
                    position: absolute;
                    top: -2px;
                    right: -4px;
                    background-color: orange;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .userIcon {
                position: relative;

                .userDropDown {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background: rgba(0, 0, 0, 0.502);
                    backdrop-filter: blur(75px);
                    color: #f2f2f2;
                    z-index: 2;
                    width: 225px;
                    padding: 20px;
                    border-radius: 5px;

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .dropDownItem {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            cursor: pointer;
                            border-radius: 5px;
                            padding: 5px;

                            &:hover {
                                background-color: #999;
                            }

                        }
                        hr {
                            border: .5px solid #999;
                        }
                    }
                }
            }

            .cartIcon , .wishListIcon , .userIcon {
                cursor: pointer;
            }
        }
    }
}