.productCard {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 270px;
    width: 270px;
    height: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    background-color: #eeee;
    border-radius: 5px;
    padding: 10px;

    
    .link {
        color: inherit;
        text-decoration: none;
    }


    .imgContent {
        position: relative;
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;


        img {
            width: 100%;
            height: 250px;    
            // object-fit: cover;
            border-radius: 3px;
        }

        .icons {
            position: absolute;
            top: 5px;
            right: 5px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;

            .filledHeart {
                background-color: #b9b9b98d;
                border-radius: 50%;
                padding: 3px;
                color: red;
                cursor: pointer;
            }

            .heart {
                background-color: #b9b9b98d;
                border-radius: 50%;
                padding: 3px;
                cursor: pointer;
            }

            .iconEye {
                background-color: #b9b9b9ce;
                border-radius: 50%;
                padding: 3px;
                cursor: pointer; 
            }

            .iconTrash {
                background-color: #b9b9b9ce;
                border-radius: 50%;
                padding: 3px;
                cursor: pointer;
                display: none;
            }
        }

        .discountPercentage {
            background-color: orange;
            border-radius: 5px;
            padding: 1px 4px;
            position: absolute;
            top: 5px;
            left: 5px;
            font-weight: 500;
        }

        .newProduct {
            background-color: #0f4;
            border-radius: 5px;
            padding: 1px 4px;
            position: absolute;
            top: 5px;
            left: 5px;
            font-weight: 500;
            display: none;
        }
    }

    .titleContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;

        .title {
            font-size: 17px;
            font-weight: 500;
        }

        .priceContent {
            display: flex;
            align-items: center;
            gap: 10px;

            .discountPrice {
                color: orange;
                font-weight: 600;
                font-size: 16px;
            }

            .price {
                opacity: .5;
                font-size: 16px;
                text-decoration: line-through;
            }
        }

        .rating {
            margin: 5px 0;
        }

        .addToCart {
            display: flex;
            gap: 50px;


            
            
            .detailsBtn , .addToCartBtn , .trashBtn , .minusBtn , .plusBtn {
                font-size: 14px;
                cursor: pointer;
                padding: 3px 7px;   
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 5px;
                transition: all .3s ease;
                font-size: 16px;
            }

            .detailsBtn {
                background-color: transparent;
                color: lightseagreen;
                border: 1px solid lightseagreen;
                
                &:hover {
                    background-color: lightseagreen;
                    color: #000;
                }
            }

            .addToCartButtons {
                display: flex;
                align-items: center;
                gap: 5px;

                .addToCartBtn , .trashBtn , .minusBtn , .plusBtn{
                    background-color: orange;
                    color: #000;
                }
            }
        }
    }
}