.productCard {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 270px;
    width: 270px;
    height: 370px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    background-color: #eeee;
    border-radius: 5px;
    padding: 10px;
    

    .imgContent::before {
        opacity: 0;
        transform: translateY(0px);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover .imgContent::before,
    &.showOnHover .imgContent::before {
        opacity: 1;
        transform: translateY(40px);
    }

    .imgContent {
        position: relative;
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;

        &::before {
            content: 'Add To Cart';
            position: absolute;
            background-color: #000000d5;
            color: #fff;
            bottom: 40px;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(30px);
            cursor: pointer;
            opacity: 0;
        }

        img {
            width: 100%;
            height: 250px;    
            // object-fit: cover;
            border-radius: 3px;
        }

        .icons {
            position: absolute;
            top: 5px;
            right: 5px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;

            .filledHeart {
                background-color: #b9b9b98d;
                border-radius: 50%;
                padding: 3px;
                color: red;
                cursor: pointer;
            }

            .heart {
                background-color: #b9b9b98d;
                border-radius: 50%;
                padding: 3px;
                cursor: pointer;
            }

            .iconEye {
                background-color: #b9b9b9ce;
                border-radius: 50%;
                padding: 3px;
                cursor: pointer;
            }
        }

        .discountPercentage {
            background-color: orange;
            border-radius: 5px;
            padding: 1px 4px;
            position: absolute;
            top: 5px;
            left: 5px;
            font-weight: 500;
        }

        .newProduct {
            background-color: #0f4;
            border-radius: 5px;
            padding: 1px 4px;
            position: absolute;
            top: 5px;
            left: 5px;
            font-weight: 500;
            display: none;
        }
    }

    .titleContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 10px;

        .title {
            font-size: 17px;
            font-weight: 500;
        }

        .priceContent {
            display: flex;
            align-items: center;
            gap: 10px;

            .discountPrice {
                color: orange;
                font-weight: 600;
                font-size: 16px;
            }

            .price {
                opacity: .5;
                font-size: 16px;
                text-decoration: line-through;
            }
        }

        .rating {
            margin: 5px 0;
        }
    }
}